* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
}

button {
  border-radius: 4px;
  height: 36px;
  padding: 0 30px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

input:focus {
  outline: 0;
}