table {
  border: 1px solid #c8e1ff;
  border-collapse: collapse;
  border-color: #c8e1ff;
  background-color: #fff;
  a {
    color: #0366d6;
  }
}

.table--state__loading {
  text-align: center;
}

.table--state__no-data {
  text-align: center;
}

thead tr {
  background: #f1f8ff;
  color: #24292e;
}

td, th {
  padding: 6px 10px;
}

td a:hover {
  text-decoration: underline
}


.table--action-menu {
  li {
    list-style-type: none;
  }
}